body {
margin: 0;
font-family: sans-serif;
}

header {
display: flex;
}

.top header h1 {
font-size: 12px;
margin-left: 20px;
margin-top: 15px;
color: white;
letter-spacing: 5px;
transition: all .3s ease-out;
}

.top header h1:hover {
color: hsl(219, 61%, 65%);
transition: all .3s ease-in;
cursor: pointer;
}

.top header h1 span:nth-of-type(1):hover {
background-color: hsl(219, 61%, 65%);
border-color: hsl(219, 61%, 65%);
transition: all .3s ease-in;
cursor: pointer;
}

.top header nav:hover {
color: hsl(219, 61%, 65%);
transition: all .3s ease-in;
cursor: pointer;
}

.top header nav {
letter-spacing: 5px;
font-size: 12px;
}

.top header h1 span:nth-of-type(1) {
color: black;
border: 2px white solid;
background-color: white;
padding: 2px;
transition: all .3s ease-out;
}

.top header nav {
color: white;
align-self: center;
margin-left: auto;
margin-right: 20px;
transition: all .3s ease-out;
}

.mid1, .mid2, .mid3 {
display: flex;
}

.top {
background-image: url(../imgs/template2banner.jpg);
height: 500px;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

.top .top2 {
margin-top: 150px;
}

.top h2 {
color: white;
margin-left: 157px;
font-size: 50px;
margin-bottom: auto;
}

.top hr {
width: 75%;
height: 3px;
background-color: white;
margin-top: 25px;
margin-bottom: 25px;
}

.top p {
font-size: 12px;
color: white;
margin-left: 158px;
display: inline-block;
width: 35%;
letter-spacing: 2px;
line-height: 20px;
}

.top .button {
color: white;
font-size: 12px;
letter-spacing: 3px;
width: 140px;
display: inline-block;
transition: all .3s ease-out;
}

.top .button span {
border: 2px solid white;
padding: 10px;
transition: all .3s ease-out;
}

.top .button:hover {
color: hsl(219, 61%, 65%);
transition: all .3s ease-in;
cursor: pointer;
}

.top .button span:hover {
border-color: hsl(219, 61%, 65%);
transition: all .3s ease-in;
}

.cta {
display: flex;
align-items: center;
}

.image1, .image2 {
height: 325px;
}

.mid1 .image1 {
background-image: url(../imgs/pic01.jpg);
background-size: cover;
width: 40%;
}

.mid1 .image1 .tint1 {
background-color: hsla(151, 82%, 38%, 0.7);
height: 325px;
transition: all .4s ease-out;
}

.mid1 .image1 .tint1:hover {
background-color: hsla(128, 79%, 63%, 0.0);
transition: all .4s ease-in;
}

.mid1 .image2 {
background-image: url(../imgs/pic02.jpg);
background-size: cover;
width: 60%;
}

.mid1 .image2 .tint2 {
background-color: hsla(192, 38%, 52%, 0.7);
height: 325px;
transition: all .4s ease-out;
}

.mid1 .image2 .tint2:hover {
background-color: hsla(192, 38%, 52%, 0.0);
transition: all .4s ease-in;
}

.mid2 .image1 {
background-image: url(../imgs/pic03.jpg);
background-size: cover;
width: 60%;
}

.mid2 .image1 .tint1 {
background-color: hsla(273, 33%, 50%, 0.7);
height: 325px;
transition: all .4s ease-out;
}

.mid2 .image1 .tint1:hover {
background-color: hsla(273, 33%, 50%, 0.0);
transition: all .4s ease-in;
}

.mid2 .image2 {
background-image: url(../imgs/pic04.jpg);
background-size: cover;
width: 40%;
}

.mid2 .image2 .tint2 {
background-color: hsla(14, 45%, 52%, 0.7);
height: 325px;
transition: all .4s ease-out;
}

.mid2 .image2 .tint2:hover {
background-color: hsla(14, 45%, 52%, 0.0);
transition: all .4s ease-out;
}

.mid3 .image1 {
background-image: url(../imgs/pic05.jpg);
background-size: cover;
width: 40%;
}

.mid3 .image1 .tint1 {
background-color: hsla(0, 45%, 50%, 0.7);
height: 325px;
transition: all .4s ease-out;
}

.mid3 .image1 .tint1:hover {
background-color: hsla(0, 45%, 50%, 0.0);
transition: all .4s ease-in;
}

.mid3 .image2 {
background-image: url(../imgs/pic06.jpg);
background-size: cover;
width: 60%;
}

.mid3 .image2 .tint2 {
background-color: hsla(238, 57%, 60%, 0.7);
height: 325px;
transition: all .4s ease-out;
}

.mid3 .image2 .tint2:hover {
background-color: hsla(238, 57%, 60%, 0.0);
transition: all .4s ease-in;
}
