@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
font-family: 'Ubuntu', sans-serif;
margin: 0;
background-image: url(../imgs/slide-2.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

nav {
display: flex;
}

nav img {
padding: 15px;
margin-top: 45px;
margin-left: 25px;
}

ul {
margin: auto;
}

ul li {
display: inline-flex;
margin-top: 45px;
font-size: 17px;
color: white;
}

div h1 {
margin-top: 200px;
margin-left: 30px;
margin-bottom: auto;
font-size: 250px;
color: white;
}

div .under {
margin-top: auto;
margin-left: 50px;
font-size: 30px;
font-weight: bolder;
color: white;
}

.button {
display: flex;
width: 200px;
height: 75px;
background-color: hsl(189, 69%, 50%);
}

.button p {
color: white;
}
