@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body {
margin: 0;
background-color: hsl(189, 68.5%, 48.6%);
font-family: 'Ubuntu', sans-serif;
}

p {
color: white;
}

h1 {
color: white;
font-size: 3em;
}

h3 {
color: white;
}

#container {
display: flex;
justify-content: space-between;
margin-left: 10px;
margin-right: 10px;
}

.first {
width: 23vw;
}
