@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
margin: 0;
background-color: #F7F7F7;
font-family: 'Roboto', sans-serif;
}

header nav ul {
display: flex;
justify-content: center;
}

header nav ul li {
display: inline-block;
margin-left: 40px;
}

li > a {
text-decoration: none;
color: #6E6E6E;
}
main section:nth-of-type(1) {
background-color: #FFFFFF;
border-radius: 10px;
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
}

main section:nth-of-type(1) .fa-bolt {
border-radius: 5px;
font-size: 45px;
padding: 25px;
background-color: #72BEE1;
color: white;
margin-left: 45%;
margin-top: 5%;
}

main section:nth-of-type(1) p span {
color: #5E5E5E;
}

main section:nth-of-type(1) .topp {
font-size: 20px;
margin-left: 40%;
}

main section:nth-of-type(1) .header {
background-image: url(../imgs/pic01.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 400px;
}

main section:nth-of-type(1) div h1 {
color: white;
font-size: 35px;
margin-left: 25%;
padding-top: 15%;
font-weight: lighter;
text-align: left;
}

main section div .firstb {
text-decoration: none;
color: white;
margin-left: 45%;
margin-top: 15%;
padding: 20px;
border: 1px solid white;
border-radius: 5px;
}

main section:nth-of-type(1) div:nth-of-type(2) h2 {
color: gray;
margin-left: 5%;
margin-top: 10%;
}

main section:nth-of-type(1) div:nth-of-type(2) p {
text-align: left;
color: gray;
margin-left: 5%;
}

main section:nth-of-type(1) div:nth-of-type(2) a {
margin-left: 5%;
color: black;
text-decoration: none;
}

/*second #63b6b5
third #e78e84*/

main section:nth-of-type(2) .first {
display: flex;
}

main section:nth-of-type(2) .first img {
height: 350px;
margin-left: 10%;
}

main section:nth-of-type(2) .first .color1 {
background-color: #72bee1;
width: 54%;
}

main section:nth-of-type(2) .first .color2 {
background-color: #63b6b5;
width: 54%;
}

main section:nth-of-type(2) .first .color3 {
background-color: #e78e84;
width: 54%;
}

main section:nth-of-type(2) .first div h1 {
color: white;
}

main section:nth-of-type(2) .first div p {
color: white;
}

main section:nth-of-type(2) .first div a {
text-decoration: none;
color: white;
padding: 15px;
border: 1px solid white;
border-radius: 5px;
}

main section:nth-of-type(2) .first:nth-of-type(2) {
flex-direction: row-reverse;
}

main section:nth-of-type(2) .first:nth-of-type(2) img {
margin: 0;
}
