body {
background-image: url(https://s-media-cache-ak0.pinimg.com/originals/e3/55/29/e3552991cbe4ebcfba10fabf5aaeea8e.jpg);
background-size: cover;
}

h1 {
display: flex;
justify-content: center;
font-size: 30px;
color: white;
}

progress {
display: block;
}
