@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

body {
padding: 0;
margin: 0;
background-color: hsl(0, 0%, 9%);
}

#video {
height: 100vh;
overflow: hidden;
}

video {
height: 100%;
width: 100%;
}

section {
display: flex;
}

.first {
display: flex;
align-items: flex-end;
justify-content: center;
background-color: hsl(0, 0%, 9%);
width: calc(100% / 3);
height: 100vh;
border-right: 1px solid hsla(0, 0%, 20%, 0.1);
}

.second {
display: flex;
align-items: flex-end;
justify-content: center;
background-color: hsl(0, 0%, 9%);
width: calc(100% / 3);
height: 100vh;
border-left: 1px solid hsla(0, 0%, 20%, 0.1);
border-right: 1px solid hsla(0, 0%, 20%, 0.1);
}

.third {
display: flex;
align-items: flex-end;
justify-content: center;
background-color: hsl(0, 0%, 9%);
width: calc(100% / 3);
height: 100vh;
border-left: 1px solid hsla(0, 0%, 20%, 0.1);
}

h1 {
font-family: 'Amatic SC', sans-serif;
padding: 5px;
font-size: 2em;
border: 3px solid white;
color: white;
text-decoration: none;
}

a {
font-family: 'Amatic SC', sans-serif;
padding: 5px;
font-size: 2em;
color: white;
text-decoration: none;
transition: all 250ms ease-out;
}

.first:hover {
background-image: url(../img/aboutme.jpg);
background-position: center;
background-size: cover;
transition: all 800ms ease-in;
}

.second:hover {
background-image: url(../img/works.PNG);
background-position: center;
background-size: cover;
transition: all 800ms ease-in;
}

.hover:hover {
border: 3px solid black;
color: black;
transition: all 200ms ease-in;
}

.third:hover {
background-image: url(../img/contact.jpg);
background-position: center;
background-size: cover;
}

@media screen and (max-width: 800px) {
  #video {
    height: 100vh;
    overflow: hidden;
  }

  video {
    height: 100%;
    width: 100%;
  }

  section {
    display: block;
}
}
